.nav {
  position: fixed;
  top: 2.5rem;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7.25rem;
  z-index: 3;
  color: var(--color-light-text);
  transition: 0.5s;
}

.nav .nav-link {
  position: relative;
}

@media screen and (max-width: 425px) {
  .nav {
    top: 3.5rem;
    gap: 4rem;
  }
}
